language: python
dist: focal

matrix:
  include:
  # Create travis test builds using specific tox environment
  - python: 3.7
    env: TOX_ENV=py37
  - python: 3.8
    env: TOX_ENV=py38
  - python: 3.9
    env: TOX_ENV=py39
  - python: 3.10
    env: TOX_ENV=py310
  - python: 3.11
    env: TOX_ENV=py311
  - python: 3.12
    env: TOX_ENV=py312
  - python: 3.13
    env: TOX_ENV=py313

install: 
  - pip install tox coveralls

script:
  - tox -e $TOX_ENV

after_success:
  - coveralls